@page
@using HistoricalTrails.Localization
@using HistoricalTrails.Web.Pages.HistoricalPlaces
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<HistoricalTrailsResource> L
@section scripts
{
    <abp-script src="/Pages/HistoricalPlaces/Index.js" />
}
<abp-card>
    <abp-card-header>
        <h2>@L["Historical Places"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="HistorcalPlacesTable"></abp-table>
    </abp-card-body>
</abp-card>
