@page
@using HistoricalTrails.Localization
@using HistoricalTrails.Web.Pages.Customers
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<HistoricalTrailsResource> L
@{
    Layout = null;
}
<form asp-page="/Customers/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewCustomer"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Customer.Name" />
            <abp-input asp-for="Customer.Surname" />
            <abp-input asp-for="Customer.Username" />
            <abp-input asp-for="Customer.Password" />
            <abp-input asp-for="Customer.Email" />
            <abp-input asp-for="Customer.Gender" />
            <abp-input asp-for="Customer.Age" />
            <abp-input asp-for="Customer.PhoneNumber" />
            <abp-input asp-for="Customer.RegistrationDate" />
            <abp-input asp-for="Customer.ProfilImageUrl" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
